{% extends 'base.html' %}
{% load static%}

{% block content %}

<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	<aside class="col-md-3">
  <!--   SIDEBAR   -->
  <ul class="list-group">
	{% if user.user_type != 'municipality' %}
    <a href="{%url 'home'%}" class="btn btn-outline-primary btn-block">Home</a>
    <a href="{%url 'all_complaints'%}" class="btn btn-outline-primary btn-block">All Complaints</a>
    <a href="{%url 'my_complaints'%}" class="btn btn-outline-primary btn-block">My Complaints</a>
    <a href="{%url 'change_password'%}" class="btn btn-outline-primary btn-block">Change Password</a>
	{% else %}
    <a href="{%url 'municipality_dashboard' %}" class="btn btn-outline-primary btn-block">Dashboard</a>
    <a href="{%url 'change_password'%}" class="btn btn-outline-primary btn-block">Change Password</a>
	{% endif%}
  </ul>
  <br>
  <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
  <!--   SIDEBAR .//END   -->
</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as:</strong>
			<span>{{user.username}}</span>
		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						{% if user.user_type != 'municipality' %}
						<h5 class="card-title">Total Complaints Posted:</h5>
						<h4>{{post_count}}</h4>
						<a href="{% url 'my_complaints'%}">My Complaints</a>
						{% else %}
						<h5 class="card-title">Total Complaints Found:</h5>
						<h4>{{total_count}}</h4>
						<a href="{% url 'municipality_dashboard' %}">Dashboard</a>	
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						<img src="{% static 'images/avatars/avatar2.jpg' %}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
						<p class="mb-0">Email: {{user.email}}</p>
						<p class="mb-0">Phone: {{user.phone_number}}</p>
					</div>
				</div>
			</div>

			</div> 
		</div> 
		</article> 
	</main>
</div> 
</div>

</section>
{% endblock %}
