{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-conten padding-y bg">
  {% include 'includes/alerts.html' %}
  <div class="container">
    <div class="row">
    <aside class="col-md-3">
  <!--   SIDEBAR   -->
 <a href="{%url 'home'%}" class="btn btn-outline-primary btn-block">Home</a>
 <a href="{%url 'all_complaints'%}" class="btn btn-outline-primary btn-block">All Complaints</a>
  <a href="{%url 'my_complaints'%}" class="btn btn-outline-primary btn-block">My Complaints</a>
 <a class="btn btn-light btn-block" href="javascript:history.back()"> <i class="fa fa-arrow-left"></i></i> <span class="text">Back</span> </a>
  <!--   SIDEBAR .//END   -->
</aside>


      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Submit Your Complaint</strong>
          </header>

          <div class="card-body">
            <form action="{% url 'post_complaint' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="Enter complaint title" required>
              </div>
              <div class="form-group">
      <label for="ward">Select Municipality and Ward:</label>
    <select name="ward_id" id="ward_id" class="form-control" required>
        <option value="">Select Municipality</option>
        {% for ward in wards %}
            <option value="{{ ward.id }}">{{ ward.municipality }} - Ward {{ ward.ward_number }}</option>
        {% endfor %}
    </select>


              </div>
              <div class="form-group">
                <label>Category</label>
              <select name="category" class="form-control" required>
  <option value="">Select Category</option>
  {% for cat in categories %}
    <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
  {% endfor %}
</select>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" rows="4" placeholder="Describe the issue in detail..." required></textarea>
              </div>
                <div class="form-group">
          <label for="image">Upload Image (optional)</label>
            <input type="file" name="image" id="image" class=""></div>
            <input type="submit" value="Submit Complaint" class="btn btn-primary">
            </form>
          </div> <!-- card-body -->
        </article>
      </main>
    </div> <!-- row -->
  </div>
</section>
{% endblock %}
